<div class="title">
    <h4>
        <span>Gamma Latency
            <div class="pull-right">
                Start : <input type="text" id="latency_start" style="position:relative;top:1px;">
                &nbsp; End : <input type="text" id="latency_end" style="position:relative;top:1px;" value="Now">
                <input type="button" class="btn refresh-graph" value="Refresh" style="position:relative;top:-5px;margin:0px 10px;">
            </div>
        </span>
    </h4>
</div>

<div class="content">
    <div class="placeholder" style="width: 100%; height: 350px; padding: 0px; position: relative;">
    </div>
</div>

